.elevator-overlay {
  position: fixed;
  inset: 0;
  background: rgba(249, 246, 246, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}
.elevator-content {
  background: rgb(13, 11, 11);
  border-radius: 16px;
  padding: 2rem;
  max-width: 500px;
  width: 100%;
  position: relative;
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 1.5rem;
  border: none;
  background: white;
  cursor: pointer;
}