.footer {
  background: #0f172a;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: sticky;
  bottom: 0;
  z-index: 1000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  &_wrap {
  }
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 2rem;
}

@media (max-width: 768px), (max-width: 448px) {
  .footer{
    margin-top: 4rem;
    position: fixed;
  }
  }

