.projects {
  padding: 20px;
  text-align: center;
}
.projects-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(80px, 1fr)); 
  place-items: center;
  // grid-template-columns: repeat(2, 1 fr);
  // gap: 4rem;
  // flex-wrap: wrap;
  justify-content: center;
  // align-items: center;
  gap: 20px;
}
.project-card {
  padding: 16px;
  border-radius: 12px;
  width: 280px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
a {
  color: #42b983;
  text-decoration: none;
  font-weight: bold;
}