.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 2rem;

  .skills_main {
    display: flex;
    justify-content: center;
    align-items: center;

    &-container {
      text-align: center;

      &_title {
      }
    }
  }

  .skills_icons {
    display: grid;
    grid-template-columns: repeat(4, minmax(80px, 1fr)); // grid adaptation
    gap: 4rem;
    justify-items: center;
    align-items: center;

    &-img {
      width: 80px;
      height: 80px;
      object-fit: contain;
      transition: transform 0.3s ease, filter 0.3s ease;

      &:hover {
        transform: scale(1.1);
      }

      &.white {
        filter: brightness(0) invert(1) !important; // set icon background to white
      }
    }
  }

  
  @media (max-width: 768px) {
    .skills_icons {
      grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
      gap: 2rem;
    }

    .skills_main-container_title {
    }

    .skills_icons-img {
      width: 80px;
      height: 80px;
    }
  }
}
